<h1>Login</h1>
<%= form_tag login_path, method: :post do %>
  <p>
    <%= label_tag :email %><br>
    <%= email_field_tag "session[email]" %>
  </p>
  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag "session[password]" %>
  </p>
  <p>
    <%= submit_tag "Login" %>
  </p>
<% end %>
