<h2>Write a Review for <%= @movie.title %></h2>

<%= form_for([@movie, @movie.reviews.build]) do |f| %>
  <p>
    <%= f.label :rating, "Rating (1-5 stars):" %>
    <%= f.select :rating, options_for_select(1..5) %>
  </p>
  <p>
    <%= f.label :comments, "Comments:" %>
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.submit "Submit Review" %>
  </p>
<% end %>
